/* Layout Styling */

#selfpic img {
    width: 22em;
    border-radius: 22em;
    padding-top: .75em;
    margin: 1.5em auto;
}

#story span {
    display: block;
}

#story h4 {
    margin: 1em auto;
}

#story h4 span.italic {
    display: inline-block;
    font-style: italic;
}

#resume {
    text-align: center;
    margin: 3em auto;
}

#resume a {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: .05rem;
    text-underline-offset: .25em;
}

#resume a:active,
#resume a:hover,
#resume a:focus {
    font-style: italic;
}

#expertise  .col-md-6 {
    margin-bottom: 2rem;
}

#expertise h5 {
    padding-bottom: .5rem;
    font-size: 1.25rem;
    font-style: italic;
}

main {
    margin-bottom: 4em;
}

#bio .connect a {
    font-family: "Playwrite CO", serif;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: .25em;
}


/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {

}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {
    #selfpic {
        position: sticky;
        float: left;
        top: 10rem;
        margin-bottom: 5em;
    }

    #bio {
        padding-left: 26em;
    }

    #story p {
        text-align: left;
    }

    #resume {
        margin-bottom: 2em;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    #hero {
        padding-top: 12.5em;
    }
}