/* Layout Styling */

#about {
    padding-top: 10em;
    padding-bottom: 2em;
}

#about span {
    display: block;
}

#about img {
    width: 22em;
    border-radius: 22em;
    padding-top: .75em;
    margin: 1.5em auto;
}

#story h2 {
    font-family: "Playwrite CO", serif;
    color: #0B5616;
    font-size: 1.5em;
    margin: 2em auto;
}

#resume {
    text-align: center;
    margin-top: 3em;
}

#resume a {
    font-family: "Playwrite CO", serif;
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: .25em;
}

#expertise {
    margin: 4em auto;
}

#about h4 {
    margin-top: 0;
}

.list {
    font-size: .85em;
}

main {
    margin-bottom: 4em;
}

#bio .connect a {
    font-family: "Playwrite CO", serif;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: .25em;
}


/*Medium devices (640px and larger)*/

@media only screen and (min-width: 640px) {

}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {

    #about main {
        padding-top: 11em;
    }

    #selfpic {
        position: sticky;
        float: left;
        top: 14em;
        margin-bottom: 5em;
    }

    #bio {
        padding-left: 26em;
    }

    #story p {
        text-align: left;
    }

    #resume {
        margin-bottom: 2em;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    #hero {
        padding-top: 12.5em;
    }
}