/* Hero Section */

#hero {
    padding-top: 20em;
    padding-bottom: 10em;
    background-image: url('/img/home/stormking_mobile.jpg');
    background-color: #0c0c0c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
}

/* .hero-text {
    padding-top: 4em;
} */

.headline h1,h2 {
    display: block;
}

.headline h1 {
    font-size: 3em;
    color: #FFF6C5;
}

.headline h2 {
    font-size: 1.75em;
    line-height: 0;
    color: #FFFDF7;
}

.tagline {
    margin: 4em 1em;
}

.tagline h3 {
    font-size: 1.5em;
    line-height: 1;
    color: #FFFDF7;
}

#none {
    position: relative;
    top: -6em;
  }


/* Arrow Bounce*/

.arrow {
    position: relative;
}

.arrow a {
    /* color: #053F0E; */
    color: #FFF6C5;
}

.bounce {
    animation: bounce 5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2em);
    }

    60% {
        transform: translateY(-1em);
    }
}


/* Work Section */

#work {
    padding-top: 4em;
    padding-bottom: 4em;
}

#work img {
    width: 100%;
}

.casestudy {
    margin-bottom: 4em;
}

.casestudy-text {
    text-align: center;
    margin: 1.5em;
    color: #000000;
}

.casestudy-text h2 {
    font-family: "Playwrite CO", serif;
    font-size: 2em;
    font-weight: 400;
    color: #0B5616;
}

.casestudy-text h4 {
    font-size: 1em;
}

.casestudy-text h5 {
    color: #818181;
}

.designtype h4 {
    font-weight: 500;
}

/*Small devices (640px to 767px)*/
@media only screen and (min-width: 640px) {
    .tagline {
        margin: 6em auto;
    }
    
    #work {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    #work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .casestudy-text {
        padding: 1em 8em;
    }
}

/* Medium devices (768px to 1023px)*/
@media only screen and (min-width: 768px) {
    #hero {
        padding-top: 24em;
        padding-bottom: 12em;
    }

    .headline h1,h2 {
        display: inline;
    }

    .headline h2 {
        line-height: 1.6;
        padding-left: 0.25em;
        padding-right: 0.5em;
    }

    .tagline {
        margin: 6em 2em;
    }

    .casestudy-text h4 {
        font-size: 1.15em;
    }
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {
    #hero {
        background-image: url('/img/home/stormking_desktop.jpg');
        background-attachment: fixed;
    }

    .headline h1 {
        font-size: 4em;
    }

    .headline h2 {
        font-size: 2em;
    }

    .tagline {
        margin-top: 3em;
    }

    .tagline h3 {
        display: inline-block;
        padding-left: .5em;
    }

    #work {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5em;
    }

    .casestudy {
        position: relative;
        padding-bottom: 0;
    }

    #work img,
    .casestudy-text {
        transition: opacity 0.5s ease-in-out;
        margin: 0 auto;
        padding: .5em;
    }

    #work img {
        width: 100%;
    }

    .casestudy-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        color: #000000;
        width: 90%;
        }

    .casestudy:hover img {
        opacity: 0.1;
    }

    .casestudy:hover .casestudy-text {
        opacity: 1;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    /* #hero {
        padding-top: 20em;
        padding-bottom: 10em;
    } */
    #work {
        padding-top: 8em;
        padding-bottom: 8em;
    }

}