/* Hero Section */

#hero {
    padding: 7em 0;
    /* background-image: url('');
    background-color: #0c0c0c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial; */
}

.headline h1 {
    font-size: clamp(2rem, 10vw, 4rem);
}

.headline h1 span {
    font-style: italic;
}

.tagline {
    margin: 4em 1em;
}

.tagline p {
    font-weight: 400;
    line-height: .24;
    text-align: center;
}


/* Work Section */

#work {
    margin: 4em auto;
}

#work img {
    width: 100%;
}

.casestudy {
    margin-bottom: 4em;
}

.casestudy-text {
    text-align: center;
    margin: 1.5em;
}

.casestudy-text h5, .casestudy-text h6 {
    font-family: neuzeit-grotesk, sans-serif;
}

.casestudy-text h5 {
    font-weight: 300;
}

.casestudy-text h6 {
    color: #818181;
}

.designtype h4 {
    font-weight: 500;
}


/* Footer Section */

footer h3 {
    font-family: "Playwrite CO", serif;
    font-size: 2.25em;
    color: #0B5616;
    font-weight: 300;
    margin-bottom: 5em;
}

.connect a {
    text-decoration: underline;
    text-underline-offset: .25em;
}


/*/ Medium mobile/small tablet devices (480px to 767px) /*/
@media only screen and (min-width: 480px) {    
    #work {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    #work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .casestudy-text {
        padding: 1em 8em;
    }
}

/*/ Medium to large tablet devices (768px to 1023px) /*/
@media only screen and (min-width: 768px) {
    #hero {
        padding-top: 24em;
        padding-bottom: 12em;
        background-image: url('');
        background-attachment: fixed;
    }

    /* .headline .hero-title {
    color: #FFFFFF;
    } */

    .tagline p {
        font-size: 1.25em;
        text-align: right;
    }

    .casestudy-text h4 {
        font-size: 1.15em;
    }
}

/*/ Laptop devices (1024px to 1439px) /*/
@media only screen and (min-width: 1024px) { 
    #work {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5em;
    }

    .casestudy {
        position: relative;
        padding-bottom: 0;
    }

    #work img,
    .casestudy-text {
        transition: opacity 0.5s ease-in-out;
        margin: 0 auto;
        padding: .5em;
    }

    #work img {
        width: 100%;
    }

    .casestudy-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        color: #000000;
        width: 90%;
        }

    .casestudy:hover img {
        opacity: 0.1;
    }

    .casestudy:hover .casestudy-text {
        opacity: 1;
    }
}

/*/ Desktop devices (1440px to 1919px) /*/
@media only screen and (min-width: 1440px) {
    /* #hero {
        padding-top: 20em;
        padding-bottom: 10em;
    } */
    #work {
        padding-top: 8em;
        padding-bottom: 8em;
    }

}