/* Hero Section */

#hero span {
    display: block;
}

#hero {
    background-color: #FFFBEF;
    display: inline-block;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 3em;
    margin-bottom: 1em;
}

#none {
    padding-top: 40px;
    padding-bottom: 20px;
  }

        /* Arrow Bounce*/

        .arrow {
            position: relative;
        }
        
        .bounce {
            animation: bounce 5s infinite;
        }
        
        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
            }
            40% {
            transform: translateY(-30px);
            }
            60% {
            transform: translateY(-15px);
            }
        }


/* Work Section */

#work img {
    border-radius: 15px;
}

.casestudy {
    margin-bottom: 2em;
}

.casestudy-text {
    margin: 1.5em;
}

/*Medium devices (640px and larger)*/

@media only screen and (min-width: 640px) {
    #hero {
        padding-top: 175px;
        margin-bottom: 40px;
    }
    #none {
        padding-bottom: 40px;
      }
    
    .casestudy img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .casestudy-text {
        margin: 0 4.5em;
    }
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {
    #work {
        display: grid;
        grid-template-columns: auto auto;
    }

    .casestudy {
        position: relative;
    }

    .casestudy img,
    .casestudy .casestudy-text {
        transition: opacity 0.5s ease-in-out;
        margin: 50px auto;
        padding: 20px;
    }

    .casestudy img {
        width: 100%;
    }

    .casestudy .casestudy-text {
        position: absolute;
        top: 1.5em;
        left: 4em;
        right: 4em;
        opacity: 0;
    }

    .casestudy:hover img {
        opacity: 0.1;
    }

    .casestudy:hover .casestudy-text {
        opacity: 1;
    }
}