/* Hero Section */

#hero {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    padding-top: 13em;
    padding-bottom: 4em;
    background-image: url('data:image/svg+xml,%3Csvg width="1920" height="320" viewBox="0 0 1920 400" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 79.4792L45.8667 63.883C91.7333 48.4096 183.467 17.2172 274.773 5.79632C366.293 -5.62453 457.173 2.48059 548.693 7.6384C640 12.7962 731.733 14.7611 823.04 10.3401C914.56 5.79634 1005.44 -5.25611 1096.96 7.6384C1188.27 20.5329 1280 57.3743 1371.31 69.4092C1462.83 81.5669 1553.71 68.7952 1645.23 64.497C1736.53 60.1989 1828.27 64.3742 1874.13 66.3391L1920 68.4268V400H1874.13C1828.27 400 1736.53 400 1645.23 400C1553.71 400 1462.83 400 1371.31 400C1280 400 1188.27 400 1096.96 400C1005.44 400 914.56 400 823.04 400C731.733 400 640 400 548.693 400C457.173 400 366.293 400 274.773 400C183.467 400 91.7333 400 45.8667 400H0V79.4792Z" fill="%23E0EEE1"/%3E%3Cpath d="M0 116.321L45.8667 112.637C91.7333 108.952 183.467 101.584 274.773 101.339C366.293 101.216 457.173 108.093 548.693 109.812C640 111.409 731.733 107.724 823.04 116.321C914.56 124.917 1005.44 145.794 1096.96 151.689C1188.27 157.706 1280 148.618 1371.31 131.917C1462.83 115.093 1553.71 90.5317 1645.23 74.3215C1736.53 58.234 1828.27 50.3745 1874.13 46.5676L1920 42.6378V400H1874.13C1828.27 400 1736.53 400 1645.23 400C1553.71 400 1462.83 400 1371.31 400C1280 400 1188.27 400 1096.96 400C1005.44 400 914.56 400 823.04 400C731.733 400 640 400 548.693 400C457.173 400 366.293 400 274.773 400C183.467 400 91.7333 400 45.8667 400H0V116.321Z" fill="%23B1D2B3"/%3E%3Cpath d="M0 236.669L45.8667 230.898C91.7333 225.249 183.467 213.705 274.773 209.407C366.293 205.109 457.173 208.056 548.693 209.284C640 210.512 731.733 210.021 823.04 208.179C914.56 206.337 1005.44 203.144 1096.96 196.144C1188.27 189.144 1280 178.583 1371.31 175.881C1462.83 173.179 1553.71 178.583 1645.23 187.547C1736.53 196.512 1828.27 209.284 1874.13 215.547L1920 221.933V400H1874.13C1828.27 400 1736.53 400 1645.23 400C1553.71 400 1462.83 400 1371.31 400C1280 400 1188.27 400 1096.96 400C1005.44 400 914.56 400 823.04 400C731.733 400 640 400 548.693 400C457.173 400 366.293 400 274.773 400C183.467 400 91.7333 400 45.8667 400H0V236.669Z" fill="%2393BD95"/%3E%3Cpath d="M0 241.582L45.8667 247.476C91.7333 253.494 183.467 265.283 274.773 271.669C366.293 278.055 457.173 278.792 548.693 266.757C640 254.722 731.733 229.67 823.04 215.793C914.56 201.916 1005.44 198.968 1096.96 212.477C1188.27 225.985 1280 255.95 1371.31 264.055C1462.83 272.283 1553.71 258.774 1645.23 253.248C1736.53 247.722 1828.27 250.178 1874.13 251.406L1920 252.634V400H1874.13C1828.27 400 1736.53 400 1645.23 400C1553.71 400 1462.83 400 1371.31 400C1280 400 1188.27 400 1096.96 400C1005.44 400 914.56 400 823.04 400C731.733 400 640 400 548.693 400C457.173 400 366.293 400 274.773 400C183.467 400 91.7333 400 45.8667 400H0V241.582Z" fill="%2383A785"/%3E%3Cpath d="M0 299.3L45.8667 302.739C91.7333 306.3 183.467 313.177 274.773 309.124C366.293 305.072 457.173 289.844 548.693 288.493C640 287.02 731.733 299.3 823.04 305.072C914.56 310.721 1005.44 309.984 1096.96 307.282C1188.27 304.581 1280 300.16 1371.31 303.844C1462.83 307.528 1553.71 319.317 1645.23 319.808C1736.53 320.177 1828.27 309.124 1874.13 303.598L1920 298.072V400H1874.13C1828.27 400 1736.53 400 1645.23 400C1553.71 400 1462.83 400 1371.31 400C1280 400 1188.27 400 1096.96 400C1005.44 400 914.56 400 823.04 400C731.733 400 640 400 548.693 400C457.173 400 366.293 400 274.773 400C183.467 400 91.7333 400 45.8667 400H0V299.3Z" fill="%23709272"/%3E%3C/svg%3E');
    background-position: center bottom;
    background-repeat: no-repeat;
}

#hero h1,h2 {
    display: block;
}

#hero h1 {
    font-size: 3em;
}

#hero h2 {
    font-size: 1.75em;
    line-height: 0;
}

#hero h3 {
    font-size: 1.5em;
}

.tagline {
    margin: 4em 1em;
}

.tagline h3 {
    line-height: 1;
}

#none {
    position: relative;
    top: -6em;
  }


/* Arrow Bounce*/

.arrow {
    position: relative;
}

.arrow a {
    color: #053F0E;
}

.bounce {
    animation: bounce 5s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2em);
    }

    60% {
        transform: translateY(-1em);
    }
}


/* Work Section */

#work {
    padding-top: 4em;
    padding-bottom: 4em;
}

#work img {
    width: 100%;
}

.casestudy {
    margin-bottom: 4em;
}

.casestudy-text {
    text-align: center;
    margin: 1.5em;
    color: #000000;
}

.casestudy-text h2 {
    font-family: "Playwrite CO", serif;
    font-size: 2em;
    font-weight: 400;
    color: #0B5616;
}

.casestudy-text h4 {
    font-size: 1em;
}

.casestudy-text h5 {
    color: #818181;
}

.designtype h4 {
    font-weight: 500;
}

/*Small devices (640px to 767px)*/
@media only screen and (min-width: 640px) {
    #hero {
        padding-top: 12em;
        padding-bottom: 8em;
    }

    .tagline {
        margin: 6em auto;
    }
    
    #work {
        padding-top: 6em;
        padding-bottom: 6em;
    }

    #work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .casestudy-text {
        padding: 1em 8em;
    }
}

/* Medium devices (768px to 1023px)*/
@media only screen and (min-width: 768px) {
    #hero h1,h2 {
        display: inline;
    }

    #hero h2 {
        line-height: 1.6;
        padding-left: 0.25em;
        padding-right: 0.5em;
    }

    .tagline {
        margin: 6em 2em;
    }

    .casestudy-text h4 {
        font-size: 1.15em;
    }
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) {
    #hero h1 {
        font-size: 4em;
    }

    #hero h2 {
        font-size: 2em;
    }

    .tagline h3 {
        display: inline-block;
        padding-left: .5em;
    }

    #work {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1.5em;
    }

    .casestudy {
        position: relative;
        padding-bottom: 0;
    }

    #work img,
    .casestudy-text {
        transition: opacity 0.5s ease-in-out;
        margin: 0 auto;
        padding: .5em;
    }

    #work img {
        width: 100%;
    }

    .casestudy-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        color: #000000;
        width: 90%;
        }

    .casestudy:hover img {
        opacity: 0.1;
    }

    .casestudy:hover .casestudy-text {
        opacity: 1;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    #hero {
        padding-top: 16em;
    }

    #work {
        padding-top: 8em;
        padding-bottom: 8em;
    }

}