/* Layout Styling */

/* Hero Section */

.title {
    margin: 2em 1em;
}

.title h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 1rem auto;
}

.scope {
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding: 1em 0;
}

.scopetitles p {
    font-weight: 600;
    margin: 0 auto;
    padding: .25em 0;
}

.scopedesc p {
    margin: 0 auto;
    padding: .25em 0;
}

.title img {
    margin-top: 2rem;
}

/*Quick Links*/

.quicklinks {
    margin-top: 4em;
    margin-bottom: 2em;
}

.quicklinks h4 {
    font-size: 1.5rem;
    line-height: 2;
}

.links .button.secondary {
    margin: 0.5em 1em;
}

#outcome {
    position: relative;
    top: -6.5em;
}

/* Main Section */

.goal {
    font-weight: 400;
    font-size: 1.15em;
}

.objectives,
.approach,
.sitemap,
.visual,
.mockup,
.brand,
#outcome,
.home {
    clear: both;
}

.objectives .col-md-4 {
    margin: 1rem auto;
}

.objectives h6 {
    font-size: 1.25rem;
}

.objectives h5 {
    font-size: 1.25rem;
    line-height: 1;
}

.objectives h6,h5 {
    display: inline;
    margin-top: 1rem;
}

.objectives ul {
    margin-top: 1rem;
}

.sitemap,
.wireframes {
    padding-bottom: 3rem;
}

.approach h6 {
    color: rgba(0,0,0,0.5);
    padding-bottom: 1rem;
}

.wireframes {
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
}

.wf {
    flex-basis: calc(100%/3);
}

.mockup,
.home {
    margin: 2rem auto;
}

.cta-mobile img {
    max-width: 50%;
}

.visual {
    margin-bottom: 1.5rem;
}

.visual .palette {
    padding-bottom: 1.5rem;
}

.visual h6 {
    color: rgba(0,0,0,0.5);
    margin-bottom: 1.25rem;
}

.example {
    padding: 1rem 0;
}

.typography span {
    font-weight: 500;
}

.lumina-title h1 {
    font-family: "Libre Caslon Display", serif;
    font-size: 2rem;
    line-height: 0;
    padding-bottom: 1em;
}

.lumina-body h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 0;
}

.brand img {
    margin: 3em auto;
}

#website {
    margin: 4em auto 0;
}

#website .button.secondary {
    color: #9A6C56;
    border: 1px solid #9A6C56;
}

#website .button.secondary:hover,
#website .button.secondary:active,
#website .button.secondary:focus {
    background-color: #9A6C56;
    color: #ffffff;
}

/* Media Queries */

/*Small devices (640px to 767px)*/
@media only screen and (min-width: 640px) {
    .cta-mobile img,
    .mobile img,
    .home-mobile img {
        max-width: 300px;
        max-height: 100%;
    }
}

/*Medium devices (768px to 1023px)*/
@media only screen and (min-width: 768px) {
    /* #lumina [class*="col-"] {
    float: left;
    padding: 0 1rem;
} */
    .title {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .title-item {
        flex-basis: calc(100%/2);
    }

    .text {
        padding: 2rem 1rem;
    }

    .scope {
        padding: auto;
    }

    .title-img,
    .quicklinks {
        clear: both;
    }

    .objectives .col-md-4 {
        padding-right: 0.25rem;
    }

    .objectives h6 {
        font-size: 1.35rem;
        line-height: 0;
    }

    .objectives h5 {
        font-size: 1.5rem;
    }

    .objectives h6,h5 {
        display: block;
        margin: 1rem auto;
    }

    .objectives ul {
        margin: 0 auto;
        padding-left: 1rem;
    }

    .sitemap,
    .wf-container {
        margin: 0 .5em;
    }

    .sitemap img {
        max-width: 75%;
        margin-top: 2rem;
    }

    .mockup {
        justify-content: space-between;
        align-items: flex-start;
        display: inline-flex;
        margin: 3em auto;
        gap: 3em;
    }

    .example {
        padding: 0;
    }
    
    .cta-ex {
        margin: 1.5rem 0.5rem;
        gap: 1rem;
    }
    
    .cta-ex,
    .column-mockup {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: inline-flex;
    }

    .row-cta {
        flex-direction: row;
        justify-content: center;
        display: inline-flex;
        gap: 2.5rem;
        margin: 0 auto;
    }

    .video {
        max-width: 650px;
    }

    .cta-mobile img {
        max-width: 400px;
        max-height: 100%;
        overflow: hidden;
    }

    .visual {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2rem;
        padding: 2rem 0.5rem;
        margin: 0 auto;
    }

    .vis {
        flex-basis: calc(100%/2);
    }

    .visual .palette {
        padding-bottom: 0;
    }

    .visual .palette img {
        max-width: 500px;
    }

    .brand .text {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .brand img {
        margin: 0 auto;
    }

    .mockup,
    .home {
        margin: 0 0.5em;
    }

    .column-mockup {
        gap: 2.5em;
    }

    .mobile img {
        max-width: 100%;
        max-height: 400px;
        overflow: hidden;
    }

    .home {
        display: inline-flex;
        justify-content: center;
        gap: 2.5em;
    }

    .home-mobile img {
        max-width: 600px;
        max-height: 100%;
        overflow: hidden;
    }
}

/*Large devices (1024px to 1439px)*/
@media only screen and (min-width: 1024px) {
    .wireframes,
    .cta-ex,
    .visual,
    .mockup {
        gap: 5rem;
    }

    .cta-ex,
    .mockup,
    .home {
        margin: 3rem 2rem;
    }

    .visual {
        margin-bottom: 0;
    }

    .home {
        grid-template-columns: 60% 40%;
    }

    .mobile img {
        max-height: 600px;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    .sitemap {
        padding: 3rem 10rem;
    }

    .wf-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0 1.5rem;
    }

    .visual {
        gap: 5em;
    }

    .video {
        max-width: 100%;
    }
}

