/* Layout Styling */

/*Hero Section*/

.title {
    margin: 2rem 1rem;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem auto;
}

.scope {
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding: 1em 0;
}

.scopetitles p {
    font-weight: 600;
    margin: 0 auto;
    padding: .25rem 0;
}

.scopedesc p {
    margin: 0 auto;
    padding: .25rem 0;
}

.title img {
    margin-top: 2rem;
}

/* Quick Links */

.quicklinks {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.quicklinks h4 {
    font-size: 1.5rem;
    line-height: 2;
}

.links .button.secondary {
    margin: 0.5em 1em;
}

#solution {
    position: relative;
    top: -6.5em;
}

/* Main Section */

.objectives .list,
.takeaway .list {
    background-color: #4A426A;
    color: #FFFFFF;
    border-radius: 1em;
    padding: .5em;
    margin: 1em auto;
}

.objectives .list .item,
.takeaway .list .item {
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.objectives img,
.takeaway img {
    display: inline-block;
    padding-right: 1em;
    width: 2.5em;
    height: 1.5em;
}

.objectives p,
.takeaway p {
    display: inline-block;
}

.objectives span,
.takeaway span {
    font-weight: 600;
    letter-spacing: .5px;
}

.challenge h5,
.redesign h5 {
    margin-top: 1.5rem;
}
.challenge span {
    display: inline-block;
}

.challenge .underline {
    width: 280px;
    overflow: auto;
    margin: 0 auto;
}

.flex ul li {
    padding-bottom: 1em;
    font-size: 1.15em;
    margin: 0 2em;
}

.flex span {
    font-weight: 500;
}

.flex img {
    margin-bottom: 2em;
}

.research {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 0.5em;
}

.projectgoals,
.userflows {
    padding: 1em 0;    
}

.mfwireframes {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em 0.5em;
}

.redesign .underline1 {
    width: 150px;
    overflow: auto;
    margin: -0.5rem auto;
}

.redesign .underline2 {
    width: 125px;
    overflow: auto;
    margin: -0.5rem auto;
}

.redesign .underline3 {
    width: 100px;
    overflow: auto;
    margin: -0.5rem auto;
}

.impact ul {
    padding-right: 1.5em;
}

.impact ul li {
    padding: .5em 0;
}

.impact span {
    font-weight: 500;
}

#prototype {
    margin: 2rem auto 0;
}

#prototype .button.secondary {
    color: #4A426A;
    border: 1px solid #4A426A;
}

#prototype .button.secondary:hover,
#prototype .button.secondary:active {
    background-color: #4A426A;
    color: #f7f1e4;
}

/* Media Queries */

/*Medium devices (768px-1023px)*/
@media only screen and (min-width: 768px) {
    .title {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .title img {
        margin-top: 1em;
        padding-left: 2em;

    }

    .objectives .list,
    .takeaway .list {
    background-color: #4A426A;
    color: #FFFFFF;
    border-radius: 1em;
    padding: .5em;
    margin: 1em 3em;
}

    .text h4 {
    font-size: 1.5em;
    }

    .challenge .underline {
        width: 300px;
    }

    .title .col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .research,
    .mfwireframes {
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 2em 1em;
    }

    .example {
        flex-basis: calc(100%/3);
    }

    .redesign .underline1 {
        width: 175px;
    }
    
    .redesign .underline2 {
        width: 150px;
    }
    
    .redesign .underline3 {
        width: 125px;
    }

    .redesign img {
        padding: 0 1em;
    }
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) { 
    .casestudy .flex {
        padding-left: 8em;
        padding-right: 8em;
    }

    .scopedesc p span {
        display: inline-block;
    }

    .title img {
        margin-top: 0;
        padding: 0;
    }

    [class*="col-"] {
        padding-bottom: 2em;
    }

    .research {
        gap: 2em;
        padding: 2em 6em 0 6em;
    }

    .projectgoals,
    .userflows {
        padding: 2em 0;    
    }

    .mfwireframes {
        gap: 1em;
        padding: 2em;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    .title {
        margin: 2em 0;
    }

    .quicklinks {
        margin-bottom: 3em;
    }

    .casestudy .flex {
        padding: 0 2em;
    }

    .flex ul li {
        padding-bottom: 3em;
        margin: 0 auto;
    }

    [class*="col-"] {
        padding-top: 1em;
    }

    .mfwireframes {
        padding: 0 0 2em 0;
    }

    .redesign img {
        padding: 0;
    }
}

/*XX-large devices (1920ox and larger)*/
@media only screen and (min-width: 1920px) {

}