/* Layout Styling */

#stoke main {
    padding-top: 10em;
    padding-bottom: 4em;
}

#solution {
    position: relative;
    top: -6.5em;
}

/*Case Study Hero Section*/

.title {
    margin: 2em 1em;
}

.title h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    margin: 1em auto;
}

.scope {
    display: flex;
    flex-direction: row;
    gap: 28px;
    padding: 1em 0;
}

.scopetitles p {
    font-weight: 600;
    margin: 0 auto;
    padding: .25em 0;
}

.scopedesc p {
    margin: 0 auto;
    padding: .25em 0;
}

.title img {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Main Section */
.quicklinks {
    margin-top: 4em;
    margin-bottom: 2em;
}

.quicklinks h4 {
    font-weight: 600;
    line-height: 2;
}

.links .button.secondary {
    margin: 0.5em 1em;
}

.text {
    padding: 1em;
}

.text h3{
    font-size: 1.75em;
    font-weight: 500;
}

.text h4 {
    font-size: 1.25em; 
}

.problem {
    background-color: #315A4E;
    color: #FFFFFF;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 2em;
}

.problem ol li {
    padding-right: .75em;
}

.userprobs,
.example {
    margin: 3em auto;
}

.userprobs p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.personacards {
    display: flex;
    flex-direction: row;
    margin: 3em auto;
}
.persona1 {
    position: relative;
    left: 50px;
}
.persona2 {
    position: relative;
    right: 50px;
    top: 30px;
}

.userflow img {
    padding: 1em;
}

.sketch,
.lfwireframe {
    display: flex;
    flex-flow: row; 
    gap: 1em;
}

#prototype {
    margin: 4em auto 0;
}

/* Media Queries */

/*Small devices (640px to 767px)*/
@media only screen and (min-width: 640px) {
    .example {
        margin: 3em 2em;
    }
}

/*Medium devices (768px to 1023px)*/
@media only screen and (min-width: 768px) {
    .title {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .title img {
        padding: 0;
    }

    .casestudy {
        padding-left: 2em;
        padding-right: 2em;
    }
    
    .set {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .problem {
        flex: 1;
        margin: 1em 1em;
    }

    .persona1 {
        left: 100px;
    }

    .persona2 {
        right: 100px;
        top: 60px;
        margin-bottom: 60px;
    }

    .userflow {
        display: inline-flex;
        flex-direction: row;
    }

    .sketch {
        display: inline-flex;
        flex-direction: column;
    }

    .ideationimg1,
    .ideationimg2 {
        display: inline-flex;
        flex-direction: row;
        gap: 2em;
    }    
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) { 
    .casestudy {
        padding-left: 8em;
        padding-right: 8em;
    }
    
    .sketch img {
        width: 200px;
    }

    .ideationimg2 {
        gap: 3em;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
 
}