/*
Colors used:
Primary Color (Turquoise): #00B29D or rgba(0, 178, 157);
Secondary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Nokora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;             
}

h1, h2, h3, h4, h5 {
    font-family: "Frank Ruhl Libre", serif;
    line-height: 1.4;
}
h1 {
    font-size: 2.25em;
    font-weight: 600;
}
h2 {
    font-size: 1.8em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1.25em;
    font-weight: 700;
}
h5 {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

img {
    width: 100%;
}

a {
    color: #00B29D;
    text-decoration: none;
}
a:visited {
    color: #00B29D;
}
a:hover,
a:focus{
    color: #00B29D;
    text-decoration: underline;
}
a:active{
    color: blue;
}  

.button {
    display: inline-block;
    background-color: #00B29D;
    color: #ffffff;
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.25);
    transition: 0.2s opacity;
}
.button:visited {
    opacity: 0.5;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:active {
    opacity: 0.75;
    color: #ffffff;
    text-decoration: none;
}

.button.secondary {
    background-color: transparent;
    color: #00B29D;
    text-transform: uppercase;
    border: 2px solid #00B29D;
    margin: 0 auto;
    text-align: center;
}
.button.secondary:hover,
.button.secondary:active {
    background-color: #00B29D;
    color: #ffffff;
}

.button.secondary.call {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin: 10px auto;
}

.intro {
    color: #00B29D;
    font-weight: 700;
}

.chat {
    color: #00B29D;
    font-weight: 600;
}

.email {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 3px;
}
.email:hover,
.email:active {
    background-color: #00B29D;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
}

.text {
    background-color: rgba(129, 129, 129,0.25);
}
    
.icon {
    width: 40px;
    padding: 10px;
    margin: 0 auto;
}


/*Layout styling*/

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}
#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #00B29D;
}

.center {
    text-align: center;
}

header {
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
header.css-box-shadow {
        width: [object Object]px; 
        height: [object Object]px; 
        background: #ffffff; 
        border: solid #BDBDBD 1px; 
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 

}

main {
    padding-top: 180px;
}

a.logo {
    background-color: #00B29D;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
    border-radius: 6px;
    max-width: 250px;
}

nav {
    display: inline-block;
    width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a,
nav > ul > li > a:visited {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00B29D;
}
nav > ul > li > a:hover,
nav > ul > li > a:active {
    background-color: #00B29D;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 6px;
}

#hero {
    background-color: #ffffff;
    display: inline-block;
    width: 100%;
}
#hero p {
    padding-bottom: 25px;
    border-bottom: 3px solid #818181;
}

#skills-tools .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #00B29D;
}

#cv {
    padding-bottom: 25px;
    border-bottom: 3px solid #818181;
}

#contact-stoke {
    position: absolute;
    top: 17960px;
    padding-bottom: 25px;
}

#stoke {
    position: absolute;
}

.gain-text {
    display: inline-block;
    font-family: "Frank Ruhl Libre", serif;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    margin: 0 170px 0 25px;
    position: relative;
    bottom: 220px;
    padding: none;
}

#manage {
    position: relative;
    bottom: 50px;
}
.manage-text{
    display: inline-block;
    font-family: "Frank Ruhl Libre", serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 0 5px 0 217px;
    position: relative;
    bottom: 165px;
}

#sync {
    position: relative;
    bottom: 75px;
}
.sync-text {
    display: inline-block;
    font-family: "Frank Ruhl Libre", serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 0 200px 0 25px;
    position: relative;
    bottom: 185px;
}

#climber {
    position: relative;
    bottom: 100px;
}
.climber-text {
    display: inline-block;
    font-family: "Frank Ruhl Libre", serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 0 120px 0 25px;
    position: relative;
    bottom: 180px;
}
.stoke-logo {
    position: relative;
    right: 70px;
    bottom: 180px;
    width: 60%;
    padding: 25px;
    margin: 0 auto;
}

#prototype {
    position: relative;
    bottom: 210px;
}

#title h2 {
    line-height: 0.5;
    font-weight: 400;
    padding-bottom: 25px;
}
