/*
Colors used:
Primary Color (Dark Green): #0B5616 or rgba(11, 86, 22);
Secondary Color (Pale Yellow): #FFF6C5 or rgba(248, 229, 189); 
Tertiary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
Background Color: #FFFFFF;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: #000000;             
}

h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}
h1 {
    font-size: 3em;
    font-weight: 600;
    color: #0B5616;
}
h2 {
    font-size: 2em;
    font-weight: 500;
}
h3 {
    font-size: 1.25em;
    font-weight: 500;
}
h4 {
    font-size: 1.125em;
    font-weight: 400;
}
h5 {
    font-size: 0.75em;
    font-weight: 300;
}

img {
    width: 100%;
}

a {
    color: #0B5616;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #0B5616;
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}  

.button {
    display: inline-block;
    color: #0B5616;
    font-size: .8em;
    font-weight: 600;
    padding: 10px 0;
}
.button:hover,
.button:active {
    opacity: 0.8;
    text-decoration: underline;
}
.button.disabled {
    color: #818181;
    font-weight: 600;
}
.button.disabled:hover,
.button.disabled.active {
    opacity: 1;
    text-decoration: none;
}

.button.prototype,
.button.resume {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #0B5616;
    border: 1px solid #0B5616;
    border-radius: 15px;
    transition: 0.2s opacity;
}
.button.resume:hover,
.button.prototype:hover,
.button.resume:active,
.button.prototype:active {
    opacity: 0.8;
    background-color: #0B5616;
    color: #F8E5BD;
}
#hero span {
    display: block;
}

footer .chat {
    color: #0B5616;
    font-weight: 600;
}
footer p {
    font-weight: 400;
}

#about img{
    border-radius: 360px;
    padding-top: 10px;
}

.style {
    font-style: italic;
    text-decoration: underline;
}

/*Layout styling*/

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    padding-top: 30px;
}

.center {
    text-align: center;
}

header {
    position: fixed;
    z-index: 999;
    background-color: #FFFBEF;
    padding: 20px 0;
    width: 100%;
}

footer {
    background-color: #FFFBEF;
    padding: 30px 0 20px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a,
nav > ul > li > a:visited {
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0B5616;
    transition: 0.5s opacity;
}
nav > ul > li > a:hover,
nav > ul > li > a:active {
    text-decoration: underline;
    background-color: #0B5616;
    color: #FFF6C5;
    border-radius: 15px;
    opacity: 0.8;
}

.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding: 0 8px;
    margin: 10px 0 0;
}
.navtoggle li .icon:hover,
.navtoggle li .icon:active {
    opacity: 1;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(129, 129, 129, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

#hero {
    background-color: #FFFBEF;
    display: inline-block;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 20px;
}

#none {
    padding-top: 40px;
    padding-bottom: 20px;
  }

#about main {
    padding-top: 130px;
}
#about img {
    margin: 20px auto;
}
#about h3 {
    margin-top: 0;
    font-weight: 500;
}
#about span {
    display: block;
}

#resume {
    text-align: center;
    margin-bottom: 10px;
}

#personacards {
    display: flex;
    flex-direction: row;
}
.persona1 {
    position: relative;
    left: 50px;
}
.persona2 {
    position: relative;
    right: 50px;
    top: 30px;
    margin-bottom: 20px;
}

.userflow {
    margin: 20px;
}
.userquote {
    margin: 20px;
}
.persona_sm {
    width: 80px;
    float: left;
    padding-right: 20px;
}
.quote {
    text-align: left;
}

.sitemap {
    margin-right: 15px;
}

.sketch,
.lfwireframe {
    display: flex;
    flex-flow: row; 
    gap: 10px;
    padding: 10px;
}

#userprobs p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#userprobs ol {
    font-size: 16px;
}
.problem {
    background-color: #315A4E;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 25px 15px 15px;
    margin: 10px;
    flex: 1;
    min-width: 0;
}

.fa-regular.fa-envelope,
.fab.fa-linkedin-in {
    margin: 10px;
}

.text {
    padding-top: 10px;
    padding-bottom: 20px;
}


/*Case Study Hero Section*/

#scopetitles p {
    font-weight: 600;
    margin: 0 auto;
}

#scopedesc p {
    margin: 0 auto;
}

#scope {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

#title img {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Media Queries*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
        padding-top: 20px;
    }
    nav > ul {
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        padding: 0;
        border: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }

    [class*="col-"] {
    float: left;
    padding: 0 30px;
    }

    main {
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 60%;
        }
        .col-md-5 {
            width: 40%;
        }
    }

    #about img {
        width: 350px;
    }

    .sketch {
        flex-flow: column;
    }

    .ideationimg1,
    .ideationimg2 {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 20px;
    }

    .set {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }

    .persona_sm {
        width: 100px;
    }
    .userquote {
        margin: 40px 100px;
    }
    .userflow {
        margin: 0 20px;
    }
    
    #title {
        display: flex;
        flex-direction: row;
    }

    .persona1 {
        left: 100px;
    }
    .persona2 {
        right: 100px;
        top: 60px;
        margin-bottom: 60px;
    }
    
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) { 
    header {
        padding-top: 35px
    }

    main {
        .col-lg-5 {
            width: 40%;
        }
        .col-lg-7 {
            width: 60%;
        }
        .col-lg {
            width: 100%;
        }
    }

    #hero {
        padding-top: 175px;
        margin-bottom: 40px;
    }
    #none {
        padding-bottom: 40px;
      }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    #about main {
        padding-top: 175px;
    }
    #about img {
        position: fixed;
        left: 25px;
        margin-right: 30px;
    }

    #bio {
        padding-left: 395px;
    }
    #story p {
        text-align: left;
    }

    .row {
        padding: 30px 50px;
        margin: 25px 0 10px;
    }

    #resume {
        padding-bottom: 20px;
    }

    .journey-map img {
        width: 80%;
    }

    .userquote {
        margin: 40px 250px;
    }
    .userflow {
        margin: 0 80px;
    }

    #title img {
        width: 90%;
    }

    .persona1 {
        left: 200px;
    }
    .persona2 {
        right: 200px;
        top: 100px;
        margin-bottom: 100px;
    }

}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    header {
        padding-top: 40px
    }

    #hero {
        padding-top: 200px;
    }

    #userprobs p {
        font-size: 20px;
    }
    #userprobs ol {
        font-size: 18px;
    }
}

/*Extra-large devices (1920ox and larger)*/
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    #userprobs p {
        font-size: 22px;
    }
    #userprobs ol {
        font-size: 20px;
    }
}


  /* Arrow Bounce*/

.arrow {
  position: relative;
}

.bounce {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


  /*Scrolling*/

  html {
    scroll-behavior: smooth;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0B5616;
    color: #FFF6C5;
    padding: 10px 12px;
    border-radius: 360px;
    font-size: 18px;
    font-weight: 600;
  }
  
  #myBtn:hover {
    background-color: #818181;
    color: #FFFFFF;
  }