/* Main Styles*/

/*/
Color Palette:
Primary Color (Dark Green): #0B5616 or rgba(11, 86, 22);
Secondary Color (Pale Yellow): #FFF6C5 or rgba(248, 229, 189); 
Tertiary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
Background Color: #FFFDF7, #FFFBEF (secondary?);

Typography:
Header: "font-family: miller-display, serif" "font-weight: 300/400/600/700" "font-style: normal/italic";
Paragraph: "font-family: neuzeit-grotesk, sans-serif" "font-weight: 300/400/700/900" "font-style: normal";
/*/


/* Typography & Color */

body {
    background-color: #ffffff;
    font-family: neuzeit-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    color: #000000;             
}

h1, h2, h3, h4, h5, h6 {
    font-family: miller-display, serif;
    line-height: 1.4;
    margin: 0;
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    font-weight: 600;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1.125em;
    font-weight: 400;
}

h6 {
    font-size: .875em;
    font-weight: 400;
}

/* Links & Buttons */

a {
    color: #000000;
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

.button {
    display: inline-block;
    color: #000000;
    font-weight: 600;
    padding: .5em 1em;
}
.button:hover,
.button:active {
    opacity: 0.8;
    text-decoration: none;
}
.button.disabled {
    color: #818181;
    font-weight: 600;
}
.button.disabled:hover,
.button.disabled.active {
    opacity: 1;
    text-decoration: none;
}

.button.secondary {
    font-family: miller-display, serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    padding: .5em 1.5em;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(4px) saturate(135%);
    -webkit-backdrop-filter: blur(4px) saturate(135%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.button.secondary:active,
.button.secondary:hover,
.button.secondary:focus {
    opacity: 1;
    background: rgba(255, 255, 255, 0.22);
    border-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    color: rgba(0,0,0,0.85);
}


/* Layout styling */

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    padding: 0 1.5em;
}

.row {
    margin: 1.5em 0;
    padding-top: 2em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    text-align: center;
}

main.cs-page {
    margin-bottom: 6rem;
}

.casestudy .text {
    padding: 1rem 0 1.5rem;
}

/*/ Header Section /*/

.primary-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ffffff;
    padding: 1em 0;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.primary-header.header-hidden {
    transform: translateY(-100%);
}

#logo img {
    width: 52px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: .5em 1em;
    margin: .5em;
    font-family: miller-display, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
    font-style: normal;
    font-style: italic;
    color: rgba(0,0,0,0.5);
}

.pg-header .primary-header {
    background: #ffffff;
}

.pg-header .primary-header nav > ul > li > a {
    color: #000000;
}

.pg-header .primary-header nav a:hover,
.pg-header .primary-header nav a:focus,
.pg-header .primary-header nav a:active {
    color: rgba(0,0,0,0.5);
}

/*/ Mobile Menu /*/

.navtoggle li:not(:last-child) { 
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;

}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 0.25em;
    font-size: 1.25em;
    padding-right: 0;
    margin: 0;
}

.navtoggle.responsive nav {
    padding: 1.5em 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 2em 0;
    border-top: 1px solid rgba(129,129,129,0.25);
    text-align: center;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 .75em;
}


/*/ Footer Section /*/

footer {
    background-color: #000000;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cs-footer {
    background: #ffffff;
    min-height: 0;
}

footer #contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .logo-bg {
    background-image: url("../img/home/1x/logo-bg_1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.75em 0;
    margin: 0 auto;
}

#contact h1 a {
    font-size: clamp(4.5rem, 10vw, 6.25rem);
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto .5em;
}

#contact h1 a:active,
#contact h1 a:hover,
#contact h1 a:focus {
    text-decoration: underline;
    text-underline-offset: .1em;
    text-decoration-thickness: .1rem;
}

.bottom-footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
}

.bottom-footer p {
    font-size: 0.875em;
    color: #ffffff;
}

.bottom-footer .social {
    display: inline-block;
}

.bottom-footer .social a {
    color: #ffffff;
}

.bottom-footer .social i {
    margin: .25em;
    text-decoration: none;
    font-size: 1.125rem;
}

.cs-footer .bottom-footer {
    background-color: #ffffff;
}

.cs-footer .bottom-footer p,
.cs-footer .bottom-footer .social a {
    color: #000000;
}

.projects {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.previous .button,
.next .button {
    font-family: miller-display, serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 0.65rem;
    padding: 0;
}

.next .button {
    text-align: right;
}

.previous svg,
.next svg {
    display: inline-flex;
    flex-shrink: 0;
    vertical-align: middle;
}

/* Scrolling */

html {
    scroll-behavior: smooth;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1rem; /* Place the button at the bottom of the page */
    right: 1.5rem; /* Place the button 30px from the right */
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, .5);
    background-color: #ffffff;
    color: #000000;
    padding: .45em .6em;
    border-radius: 360px;
    font-size: 1em;
    font-weight: 600;
  }
  
  #myBtn:hover {
    background-color: rgba(0, 0, 0, .25);
    border: none;
    color: #FFFFFF;
  }

  
/* Media Queries */

/*/ Medium mobile/small tablet devices (480px to 767px) /*/
@media only screen and (min-width: 480px) {
    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        padding: 0;
        border: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }
}

/*/ Medium to large tablet devices (768px to 1023px) /*/
@media only screen and (min-width: 768px) {
     [class*="col-"] {
    float: left;
    padding: 0 1em;
    }

    h1 {
        font-size: clamp(3rem, 5vw, 4rem);
    }
    
    h2 {
        font-size: 2.75em;
    }

    h3 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.25em;
    }

    h6 {
        font-size: 1em;
    }

    .primary-header {
        background: transparent;
        padding: 1em 0;
        width: 100%;

        transition: background-color 500ms;
    }

    .primary-header.sticking {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.18);
    }

    header .container {
        padding-right: 0;
    }

    nav {
        width: 50vw;
        float: right;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav > ul > li > a {
        color: #ffffff;
    }

    .primary-header.sticking nav > ul > li > a {
        color: #000000;
    }

    .primary-header.sticking nav > ul > li > a:hover,
    .primary-header.sticking nav > ul > li > a:focus,
    .primary-header.sticking nav > ul > li > a:active {
        color: rgba(0,0,0,0.5);
    }

    main {
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 60%;
        }
        .col-md-5 {
            width: 40%;
        }
        .col-md-4 {
            width: 33%;
        }
    }

    .casestudy .text {
        padding-left: 2em;
        padding-right: 2em;
    }

    #contact .logo-bg {
        background-image: url("../img/home/2x/logo-bg_2x.png");
    }

    .bottom-footer {
        margin-bottom: 1.5rem;
    }
}

/*/ Laptop devices (1024px to 1439px) /*/
@media only screen and (min-width: 1024px) { 
    header {
        padding-top: 2em;
    }

    [class*="col-"] {
        float: left;
        padding: 0 1.5em;
    }

    main {
        .col-lg-5 {
            width: 40%;
        }
        .col-lg-7 {
            width: 60%;
        }
        .col-lg {
            width: 100%;
        }
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        padding: 30px 50px;
        margin: 25px 0 10px;
    }

    .casestudy .text {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

/*/ Desktop devices (1440px to 1919px) /*/
@media only screen and (min-width: 1440px) {
    header {
        padding-top: 40px
    }

    [class*="col-"] {
        float: left;
        padding: 0 2em;
    }

    main {
        .col-xlg-5 {
            width: 40%;
        }
        .col-xlg-7 {
            width: 60%;
        }
        .col-xlg-6 {
            width: 50%;
        }
    }

    .casestudy .text {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*/ Large monitors (1920px and larger) /*/
@media only screen and (min-width: 1920px) {
    /* .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    } */
}
