/*
Colors used:
Primary Color (Dark Green): #0B5616 or rgba(11, 86, 22);
Secondary Color (Pale Yellow): #FFF6C5 or rgba(248, 229, 189); 
Tertiary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
Background Color: #FFFFFF, #FFFBEF;
*/


/* Typography & Color */

body {
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: #000000;             
}

h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
}
h1 {
    font-size: 3em;
    font-weight: 600;
    color: #0B5616;
}
h2 {
    font-size: 2em;
    font-weight: 500;
}
h3 {
    font-size: 1.25em;
    font-weight: 500;
}
h4 {
    font-size: 1.125em;
    font-weight: 400;
}
h5 {
    font-size: 1em;
    font-weight: 500;
}
h6 {
    font-size: 0.75em;
    font-weight: 300;
}


/* Links & Buttons */

a {
    color: #0B5616;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #0B5616;
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}  

.button {
    display: inline-block;
    color: #0B5616;
    font-weight: 600;
    padding: 10px 0;
}
.button:hover,
.button:active {
    opacity: 0.8;
    text-decoration: underline;
}
.button.disabled {
    color: #818181;
    font-weight: 600;
}
.button.disabled:hover,
.button.disabled.active {
    opacity: 1;
    text-decoration: none;
}

.button.prototype,
.button.resume {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #0B5616;
    border: 1px solid #0B5616;
    border-radius: 15px;
    transition: 0.2s opacity;
}
.button.resume:hover,
.button.prototype:hover,
.button.resume:active,
.button.prototype:active {
    opacity: 0.8;
    background-color: #0B5616;
    color: #F8E5BD;
}


/*Layout styling*/

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    padding-top: 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    text-align: center;
}


/* Header Section */

header {
    position: fixed;
    z-index: 999;
    background-color: #FFFBEF;
    padding: 20px 0;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a,
nav > ul > li > a:visited {
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0B5616;
    transition: 0.5s opacity;
}
nav > ul > li > a:hover,
nav > ul > li > a:active {
    text-decoration: underline;
    background-color: #0B5616;
    color: #FFF6C5;
    border-radius: 15px;
    opacity: 0.8;
}

.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding: 0 8px;
    margin: 10px 0 0;
}
.navtoggle li .icon:hover,
.navtoggle li .icon:active {
    opacity: 1;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(129, 129, 129, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}


/* Footer Section */

footer {
    background-color: #FFFBEF;
    padding: 30px 0 20px;
}

.fa-regular.fa-envelope,
.fab.fa-linkedin-in {
    margin: 10px;
}

footer .chat {
    color: #0B5616;
    font-weight: 600;
}
footer p {
    font-weight: 400;
}


/*Media Queries*/

/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
        padding-top: 20px;
    }
    nav > ul {
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        padding: 0;
        border: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }

    [class*="col-"] {
    float: left;
    padding: 0 30px;
    }

    main {
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 60%;
        }
        .col-md-5 {
            width: 40%;
        }
    }
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) { 
    header {
        padding-top: 35px
    }

    main {
        .col-lg-5 {
            width: 40%;
        }
        .col-lg-7 {
            width: 60%;
        }
        .col-lg {
            width: 100%;
        }
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        padding: 30px 50px;
        margin: 25px 0 10px;
    }
}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    header {
        padding-top: 40px
    }
}

/*XX-large devices (1920ox and larger)*/
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}