/* Main Styles*/

/*/
Color Palette:
Primary Color (Dark Green): #0B5616 or rgba(11, 86, 22);
Secondary Color (Pale Yellow): #FFF6C5 or rgba(248, 229, 189); 
Tertiary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
Background Color: #FFFDF7, #FFFBEF (secondary?);

Typography:
Header: "font-family: miller-display, serif" "font-weight: 300/400/600/700" "font-style: normal/italic";
Paragraph: "font-family: neuzeit-grotesk, sans-serif" "font-weight: 300/400/700/900" "font-style: normal";
/*/


/* Typography & Color */

body {
    background-color: #FFFFFF;
    font-family: neuzeit-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    color: #000000;             
}

h1, h2, h3, h4, h5, h6 {
    font-family: miller-display, serif;
    line-height: 1.4;
    margin: 0;
}

h1 {
    font-size: 2.75em;
    font-weight: 600;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

h4 {
    font-size: 1.5em;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-weight: 400;
}

h6 {
    font-size: .875em;
    font-weight: 400;
}

p {
    margin: 0;
}

/* Links & Buttons */

a {
    color: #000000;
    text-decoration: none;
}
a:hover,
a:focus {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
a:active{
    text-decoration: none;
}  

.button {
    display: inline-block;
    color: #0B5616;
    font-weight: 600;
    padding: .5em 1em;
}
.button:hover,
.button:active {
    opacity: 0.8;
    text-decoration: none;
}
.button.disabled {
    color: #818181;
    font-weight: 600;
}
.button.disabled:hover,
.button.disabled.active {
    opacity: 1;
    text-decoration: none;
}

.button.secondary {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    padding: .5em 1.5em;
    background-color: transparent;
    color: #0B5616;
    border: 1px solid #0B5616;
    border-radius: .5em;
    transition: 0.2s opacity;
}
.button.secondary:hover,
.button.secondary:active {
    opacity: 0.8;
    background-color: #0B5616;
    color: #FFFDF7;
}


/* Layout styling */

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    padding: 0 1.5em;
}

.row {
    margin: 1.5em 0;
    padding-top: 2em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.center {
    text-align: center;
}


/*/ Header Section /*/

header {
    position: fixed;
    z-index: 999;
    background-color: #FFFFFF;
    padding: 1.5em 0;
    width: 100%;
}

#logo img {
    width: 52px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: .5em 1em;
    margin: .5em;
    font-family: miller-display, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus,
nav > ul > li > a:active {
    font-style: normal;
    text-decoration: underline;
    color: rgba(0,0,0,0.5);
}

/*/ Mobile Menu /*/

.navtoggle li:not(:last-child) { 
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;

}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 0.25em;
    font-size: 1.25em;
    padding-right: 0;
    margin: 0;
}

.navtoggle.responsive nav {
    padding: 1.5em 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 2em 0;
    border-top: 1px solid rgba(129,129,129,0.25);
    text-align: center;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 .75em;
}


/*/ Footer Section /*/

footer {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2em;
}

#contact h3 {
    font-style: italic;
    margin: 0 auto 3em;
    text-decoration: underline;
    text-underline-offset: .25em;
}

.bottom-footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-footer p {
    font-size: 0.875em;
}

.bottom-footer .social {
    display: inline-block;
}

.bottom-footer .social i {
    margin: .5em;
    text-decoration: none;
    font-size: 1.5em;
}

#projects {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.previous .button,
.next .button {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 3em;
}

.previous svg,
.next svg {
    display: inline-flex;
    vertical-align: top;
}

/* Scrolling */

html {
    scroll-behavior: smooth;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1em; /* Place the button at the bottom of the page */
    right: 1em; /* Place the button 30px from the right */
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0B5616;
    color: #FFF6C5;
    padding: .45em .6em;
    border-radius: 360px;
    font-size: 1em;
    font-weight: 600;
  }
  
  #myBtn:hover {
    background-color: #818181;
    color: #FFFFFF;
  }

  
/* Media Queries */

/*/ Medium mobile/small tablet devices (480px to 767px) /*/
@media only screen and (min-width: 480px) {
    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        padding: 0;
        border: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }
}

/*/ Medium to large tablet devices (768px to 1023px) /*/
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4em;
    }
    
    h2 {
    font-size: 2.75em;
    }

    h3 {
    font-size: 2.5em;
    }

    h4 {
    font-size: 2em;
    }

    h5 {
    font-size: 1.25em;
    }

    h6 {
    font-size: 1em;
    }

    [class*="col-"] {
    float: left;
    padding: 0 1em;
    }
    main {
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 60%;
        }
        .col-md-5 {
            width: 40%;
        }
        .col-md-4 {
            width: 33%;
        }
    }
}

/*/ Laptop devices (1024px to 1439px) /*/
@media only screen and (min-width: 1024px) { 
    header {
        padding-top: 2em;
    }

    [class*="col-"] {
        float: left;
        padding: 0 1.5em;
    }

    main {
        .col-lg-5 {
            width: 40%;
        }
        .col-lg-7 {
            width: 60%;
        }
        .col-lg {
            width: 100%;
        }
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        padding: 30px 50px;
        margin: 25px 0 10px;
    }
}

/*/ Desktop devices (1440px to 1919px) /*/
@media only screen and (min-width: 1440px) {
    header {
        padding-top: 40px
    }

    [class*="col-"] {
        float: left;
        padding: 0 2em;
    }

    main {
        .col-xlg-5 {
            width: 40%;
        }
        .col-xlg-7 {
            width: 60%;
        }
        .col-xlg-6 {
            width: 50%;
        }
    }
}

/*/ Large monitors (1920px and larger) /*/
@media only screen and (min-width: 1920px) {
    /* .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    } */
}