/*
Colors used:
Primary Color (Dark Green): #1E5C49 or rgba(30, 92, 73);
Secondary Color (Pale Yellow): #F8E5BD or rgba(248, 229, 189); 
Tertiary Color (Gray/Silver): #818181 or rgba(129, 129, 129);
Background Color: #FFFBEF;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFBEF;
    font-family: "Nokora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;             
}

h1, h2, h3, h4, h5 {
    font-family: "Frank Ruhl Libre", serif;
    line-height: 1.4;
}
h1 {
    font-size: 2.25em;
    font-weight: 700;
    color: #1E5C49;
}
h2 {
    font-size: 1.75em;
    font-weight: 600;
}
h3 {
    font-size: 1.25em;
    font-weight: 600;
}
h4 {
    font-size: 1.125em;
    font-weight: 600;
}
h5 {
    font-size: 0.75em;
    font-weight: 400;
}


img {
    width: 100%;
}

a {
    color: #1E5C49;
    text-decoration: none;
}
a:visited {
    color: #1E5C49;
}
a:hover,
a:focus{
    color: #1E5C49;
}
a:active{
    color: #1E5C49;
}  

.button {
    display: inline-block;
    background-color: #1E5C49;
    color: #F8E5BD;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 6px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.25);
    transition: 0.2s opacity;
}
.button:visited {
    color: #F8E5BD;
    text-decoration: none;
}
.button:hover,
.button:active {
    opacity: 0.8;
    color: #F8E5BD;
    text-decoration: none;
}

.button.secondary {
    background-color: transparent;
    color: #1E5C49;
    text-transform: uppercase;
    border: 2px solid #1E5C49;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s opacity;
}
.button.secondary:hover,
.button.secondary:active {
    opacity: 0.8;
    background-color: #1E5C49;
    color: #F8E5BD;
    border: 2px solid #F8E5BD;
}

.button.secondary.contact {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    margin: 10px auto;
}

.button.disabled {
    background-color: rgba(129, 129, 129, 0.8);
    color: #ffffff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 6px;
}

#prototype .button {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 600;
    font-size: 1.25em;
    padding: 15px;
}

#hero span {
    display: block;
}

footer .chat {
    color: #1E5C49;
    font-weight: 600;
}

.email {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 3px;
    transition: 0.5s opacity;
}
.email:hover,
.email:active {
    opacity: 0.8;
    background-color: #1E5C49;
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
}

#about img{
    width: 80%;
    border-radius: 360px;
    padding-top: 10px;
}

.style {
    font-style: italic;
    text-decoration: underline;
}

/*Layout styling*/

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

header {
    position: fixed;
    z-index: 999;
    background-color: #FFFBEF;
    padding: 15px 0 10px;
    width: 100%;
}
header.css-box-shadow {
        width: [object Object]px; 
        height: [object Object]px; 
        background: #FFFBEF; 
        border: solid #bdbdbd 1px; 
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

main {
    padding-top: 150px;
    padding-bottom: 100px;
}

footer {
    border-top:1px solid #818181;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav > ul > li > a,
nav > ul > li > a:visited {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1E5C49;
    transition: 0.5s opacity;
}
nav > ul > li > a:hover,
nav > ul > li > a:active {
    background-color: #1E5C49;
    color: #F8E5BD;
    padding: 5px;
    margin: 10px;
    border-radius: 6px;
    opacity: 0.8;
}

.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    padding-right: 5px;
}
.navtoggle li .icon:hover,
.navtoggle li .icon:active {
    padding-right: 5px;
    padding-bottom: 0;
    margin: 10px 0 0;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(129, 129, 129, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

#hero {
    background-color: #FFFBEF;
    display: inline-block;
    width: 100%;
    padding-bottom: 75px;
}

#work h3 {
    margin: 0 auto;
}

#work h2,
#about h2 {
    color: #1E5C49
}

#about h3 {
    margin-top: 0;
}

.bio h2,
.bio p {
    text-align: center;
}

.resume {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #1E5C49; 
}

#personacards {
    display: flex;
    flex-direction: row;
}
.persona1 {
    position: relative;
    left: 50px;
}
.persona2 {
    position: relative;
    right: 50px;
    top: 20px;
}

.journey-map {
    grid-area: map;
}
.persona_sm {
    grid-area: pic;
    width: 80px;
}
.quote {
    grid-area: text;
}
.userflow {
    display: grid;
    grid-template-areas:
    'map map map map'
    'pic text text text';
    gap: 0;
    font-size: 14px;
    padding: 0 20px;
}

.sketch,
.lfwireframe {
    display: flex;
    flex-flow: row; 
    gap: 10px;
    padding: 10px;
}

#userprobs p {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#userprobs ol {
    font-size: 16px;
}

.problem {
    background-color: #315A4E;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    flex: 1;
    min-width: 0;
}

.fab.fa-linkedin {
    color: #1E5C49;
    margin: 20px 0 0;
}

.text {
    padding-top: 10px;
    padding-bottom: 20px;
}


/*Case Study Hero Section*/

#scopetitles p {
    font-weight: 600;
    margin: 0 auto;
}

#scopedesc p {
    margin: 0 auto;
}

#scope {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

#title img {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Media Queries*/

[class*="col-"] {
    float: left;
    padding: 0 30px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
    }

    nav {
        width: auto;
        float: right;
        padding-top: 20px;
    }
    nav > ul {
        margin: 1em 0;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        padding: 0;
        border: none;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }

    main {
        font-size: 18px;
        .col-md-6 {
            width: 50%;
        }
        .col-md-7 {
            width: 60%;
        }
        .col-md-5 {
            width: 40%;
        }
    }

    #hero img {
        width: 75%;
    }

    #about img{
        width: 60%;
        padding-top: 20px;
    }

    .sketch {
        flex-flow: column;
    }

    .ideationimg1,
    .ideationimg2 {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 20px;
    }

    .set {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }

    .persona_sm {
        width: 100px;
        margin: 0 0 0 40px;
    }
    .userflow {
        font-size: .75em;
        padding: 0 40px;
    }

    #expertise {
        margin: 0 40px;
    }
    
    #title {
        display: flex;
        flex-direction: row;
    }

    .persona1 {
        left: 100px;
    }
    .persona2 {
        right: 100px;
        top: 25px;
        margin-bottom: 20px;
    }
    
}

/*Large devices (1024px and larger)*/
@media only screen and (min-width: 1024px) { 
    header {
        padding-top: 35px 0 25px;
    }

    main {
        padding-top: 150px;
        font-size: 18px;
        .col-lg-5 {
            width: 40%;
        }
        .col-lg-7 {
            width: 60%;
        }
        .col-lg {
            width: 100%;
        }
    }
    
    nav,
    footer {
        font-size: 18px;
    }

    #hero img {
        width: 50%;
    }

    #about img{
        width: 40%;
    }

    .email {
        font-size: 20px;
    }

    .button.secondary.contact {
        font-size: 20px;
        padding: 10px;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    #story {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 30px;
        margin: 10px;
    }

    .bio h2,
    .bio p {
        text-align: left;
    }

    .resume {
        text-align: left;
        padding-top: 25px;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    .persona_sm {
        width: 120px;
    }
    .userflow {
        font-size: 1em;
        padding: 0 60px;
    }

    #expertise {
        margin: 0 auto;
    }

    #title img {
        width: 90%;
    }

    .persona1 {
        left: 200px;
    }
    .persona2 {
        right: 200px;
        top: 50px;
        margin-bottom: 40px;
    }

}

/*X-large devices (1440px and larger)*/
@media only screen and (min-width: 1440px) {
    header {
        padding: 40px 0 30px;
    }

    main
    {
        padding-top: 200px;
        font-size: 20px;
    }

    nav,
    footer {
        font-size: 20px;
    }

    #about svg {
        width: 350;
    }

    .email {
        font-size: 24px;
    }

    .button.secondary.contact {
        font-size: 24px;
        padding: 10px;
    }

    #userprobs p {
        font-size: 20px;
    }
    #userprobs ol {
        font-size: 18px;
    }
}

/*Extra-large devices (1920ox and larger)*/
@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    #userprobs p {
        font-size: 22px;
    }
    #userprobs ol {
        font-size: 20px;
    }
}


  /* Arrow Bounce*/

.arrow {
  position: relative;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


  /*Scrolling*/

  html {
    scroll-behavior: smooth;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1E5C49;
    color: #F8E5BD;
    padding: 10px 12px;
    border-radius: 360px;
    font-size: 18px;
    font-weight: 600;
  }
  
  #myBtn:hover {
    background-color: #818181;
    color: #ffffff;
  }